@{
    ViewData["Title"] = "FormPersonne";
}

<div>
    <h1>Ajouter une Personne</h1>

    <form enctype="multipart/form-data" asp-controller="Personne" asp-action="SubmitPersonne" method="post">
        <div class="row m-1">
            <input type="text" name="Nom" class="form-control col p-1" placeholder="Merci de saisir votre prenom" />
        </div>
        <div class="row m-1">
            <input type="text" name="Prenom" class="form-control col p-1" placeholder="Merci de saisir votre nom" />
        </div>
        <div class="row m-1">
            <input type="text" name="Telephone" class="form-control col p-1" placeholder="Merci de saisir votre telephone" />
        </div>
        <div class="row m-1">
            <button class="col btn btn-primary" type="submit">Valider</button> 
        </div>
    </form>

</div>

